* {
  margin: 0;
  padding: 0;
}

body,
html {
  width: 100%;
  height: 300vh;
  display: grid;
  grid-template-rows: 0.1fr 0.1fr 0.1fr 2fr 2fr;
  grid-template-columns: 20vw 60vw 20vw;
  background: url("/wallpaper.jpg");
  background-color: black;
  background-repeat: no-repeat;
  background-attachment: scroll;
  color: #fff;
  font-family: "Abel", sans-serif;
  cursor: default;
  scroll-behavior: smooth;
}

a {
  color: #fff;
  background-color: none;
}

h1 {
  grid-row: 2;
  font-size: 15vw;
  margin: auto;
  font-weight: 100;
  text-align: center;
  grid-column: 2;
  animation: 1s ease-in-out 0s 1 slideInFromRight;
}

.main-container {
  justify-self: center;
  grid-row: 4;
  padding-bottom: 2rem;
  grid-column: 2;
}

.over-p {
  font-weight: 100;
  text-align: center;
  animation: 1s ease-in-out 0s 1 slideInFromRight;
}

.under-p {
  font-weight: 100;
  padding-bottom: 7rem;
  text-align: center;
  font-size: 0.7rem;
  animation: 2s ease-in-out 0s 1 slideInFromRight;
}

.alpha {
  border-style: solid;
  border-width: 0.1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  background-color: rgba(0, 0, 0, 0.322);
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  font-weight: 100;
  font-size: 1rem;
}

a:hover {
  transition-duration: 500ms;
  background-color: rgba(255, 255, 255, 0.637);
}

.center {
  transform: translate(-50%, -50%);
  width: 40px;
  grid-column: 3;
  margin-top: 2rem;
  cursor: pointer;
  margin-left: 0rem;
  background: none;
  border-style: none;
  color: rgb(255, 255, 255);
  opacity: 1;
}

.center:before,
.center:after,
.center div {
  background: rgba(255, 255, 255, 0.74);
  content: "";
  display: block;
  height: 2px;
  border-radius: 0px;
  margin: 7px 0;
  transition: 0.5s;
}
.center:hover:before {
  transform: translateY(12px) rotate(135deg);
}
.center:hover:after {
  transform: translateY(-12px) rotate(-135deg);
}
.center:hover div {
  transform: scale(0);
}

.nav-container {
  animation: 2s ease-in-out 0s 1 slideInFromTop;
  grid-row: 1;
  padding: 0.3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-name {
  padding: 0rem;
  font-size: 0.8rem;
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideUpDownUp {
  0% {
    transform: translateY(-20%);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20%);
  }
}
@keyframes bounce {
  0% {
    transform: translateY(0%);
  }
  25% {
    transform: translateY(-10);
  }
  50% {
    transform: translateY(0%);
  }
  75%{
    transform: translateY(-10%);

  }

  100% {
    transform: translateY(0%);

  }
}

@keyframes slideOutFromRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-200%);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes slideOutFromBottom {
  0% {
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}
.orbitBg {
  background-color: rgba(0, 0, 0, 0.068);
  border-style: none;
  border-color: rgb(255, 255, 255);
  grid-column: 2;
  grid-row: 3;
  padding: 0;
  border-radius: 50%;
  height: 10rem;
  width: 10rem;
  margin: auto;
}
.orbitMidBg {
  background-color: rgba(0, 0, 0, 0);
  border-style: solid;
  border-color: rgb(255, 255, 255);
  border-width: 0.1rem;
  grid-row: 3;
  grid-column: 2;

  padding: 0;
  border-radius: 50%;
  height: 10rem;
  width: 10rem;
  margin: auto;
}
.orbitMidInBg {
  background-color: rgba(0, 0, 0, 0);
  border-style: solid;
  border-color: rgb(255, 255, 255);
  border-width: 0.1rem;
  grid-row: 3;
  grid-column: 2;

  padding: 0;
  border-radius: 50%;
  height: 7rem;
  width: 7rem;
  margin: auto;
}
.orbitInBg {
  background-color: rgba(0, 0, 0, 0);
  border-style: solid;
  border-color: rgb(255, 255, 255);
  border-width: 0.1rem;
  grid-row: 3;
  grid-column: 2;

  padding: 0;
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
  margin: auto;
}

.dotEarth {
  display: flex;
  width: 0.5rem;
  height: 0.5rem;
  background: rgb(248, 248, 248);
  border-radius: 50%;
}
.earth {
  width: 3.5rem;
  height: 3.5rem;
  display: flex;
  margin: auto;
  grid-row: 3;
  grid-column: 2;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: orbit;
  animation-duration: 4s;
}

.sun {
  width: 10rem;
  height: 10rem;
  display: flex;
  margin: auto;
  grid-row: 3;
  grid-column: 2;
}

.dotSun {
  position: relative;
  display: flex;
  margin: auto;
  width: 2rem;
  height: 2rem;
  background: rgb(221, 221, 221);
  border-radius: 50%;
  grid-row: 3;
  grid-column: 2;
}

.dotSaturn {
  display: flex;
  width: 1rem;
  height: 1rem;
  background: rgb(255, 255, 255);
  border-radius: 50%;
}
.saturn {
  width: 6rem;
  height: 6rem;
  display: flex;
  margin: auto;
  grid-row: 3;
  grid-column: 2;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: orbit;
  animation-duration: 6s;
}

.dotJupiter {
  display: flex;
  width: 1.5rem;
  height: 1.5rem;
  background: rgb(255, 255, 255);
  border-radius: 50%;
}
.jupiter {
  z-index: 1;
  width: 8.6rem;
  height: 8.6rem;
  display: flex;
  margin: auto;
  grid-row: 3;
  grid-column: 2;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: orbit;
  animation-duration: 8s;
}

#triangle-down {
  position: sticky;
  bottom: 0;
  font-size: 1rem;
  margin-bottom: 1rem;
  grid-column: 2;
  margin: auto;
  font-weight: 1000;
  color: rgb(255, 255, 255);
  animation: 1s ease-in-out 0s infinite slideUpDownUp;
  cursor: default;
}

@keyframes orbit {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes orbitReverse {
  from {
    -webkit-transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(0deg);
  }
}

@import url(https://fonts.googleapis.com/css?family=Cabin+Condensed);

#slideout {
  grid-column-start: 1;
  left: -5rem;
  position: absolute;
  top: 10vh;
  z-index: 10;
  width: 20rem;
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  display: none;
  text-decoration: none;
  background: #2a729e;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(
    to bottom,
    #062350 0%,
    #0a2f47c2 53%,
    #00000000 100%
  );
  border-radius: 0.2rem;
  animation: 1s ease-in-out 0s 1 slideInFromLeft;
}
#slideout ul li {
 
  z-index: 11;
  padding: 1rem;
  padding-left: 3rem;
  text-align: left;
  list-style: none;
  color:#fff;
  text-decoration: none;
}

#slideout ul li a {
  font-weight: 100;
  color: rgb(220, 226, 243);
  text-decoration: none;
}


#bg-two {
  background-image: url("https://wallpapercave.com/wp/wp2284539.png");
  position: relative;
  grid-column-start: 1;
  grid-column-end: 3;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

#upcoming-container {
  position: absolute;
  top: 130vh;
  left: 20vw;
  color: seashell;
  z-index: 10;
  font-size: 2rem;
  font-weight: 100;
  text-align: center;
}

.comp-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 2rem;
  align-content: center;
}

.comp {
  background-color: rgba(69, 52, 226, 0.068);
  width: 15rem;
  margin-top: 1rem;
  border-radius: 1rem;
  padding: 1.5rem;
}

#comp-one,
#comp-two,
#comp-three {
  visibility: hidden;
}

.small {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  text-align: end;
}

.small ul {
  display: none;
}
.small ul li {
  padding: 1rem;
  list-style-type: decimal;
}

.comp-btn {
  background: none;
  border-style: none;
  z-index: 30;
}

.comp-btn:hover {
  cursor: pointer;
}

.comp-btn:focus {
  border-style: none;
  outline: none;
}

.nav-container-ipad {
  display: none;
}

.nav-container-ipad a {
  color: #fff;
  text-decoration: none;
}

#about {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-self: center;
  border-style: double;
  border-width: 0.05rem;
  position: absolute;
  font-size: 2rem;
  top: 130rem;
  margin: 2rem;
  text-align: center;
  
}

.about-text {
  border-top-style: none;
  font-size: 0.9rem;
  padding: 5rem;
  padding-top: 0rem;
  margin-bottom: 10rem;
}


#developer-notice {
  display: block;
  grid-row: 5;
  height: 35%;
  padding: 2rem;
  border-radius: 2rem;
  animation: 2s 0s infinite bounce;
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: rgba(0, 0, 0, 0.815);
  margin-left: 2rem;
}

#ok {
  align-self: center;
  text-align: center;
  font-size: 1rem;
  display: flex;
  background: none;
  margin-top: 1rem;
  color: #fff;
  border-style: none;
  font-weight: 100;
  text-decoration: underline;
  text-underline-offset: 0.5rem;
}

#ok:hover {
  cursor: pointer;
}

@media (min-width: 738px) {
  body,
  html {
    width: 100%;
    height: 300vh;
    display: grid;
    grid-template-rows: 0.1fr 0.1fr 0.1fr 2fr 2fr;
    grid-template-columns: 5vw 40vw 30vw;
    grid-gap: 0.5rem;
    background: url("/wallpaper.jpg");
    background-color: black;
    background-repeat: no-repeat;
    background-attachment: scroll;
    color: rgb(253, 253, 253);
    font-family: "Abel", sans-serif;
    cursor: default;
    scroll-behavior: smooth;
  }

  .center {
    display: none;
  }

  h1 {
    grid-row: 2;
    grid-column: 2;
    font-size: 8vw;
    margin: auto;
    font-weight: 100;
    text-align: center;
    grid-column: 2;
    animation: 1s ease-in-out 0s 1 slideInFromRight;
  }
  .main-container {
    grid-column: 3;
    grid-row: 4;
  }

  .nav-container-ipad {
    display: flex;
    justify-content: space-around;
    padding: 0.1rem;
    padding-top: 1rem;
    width: 50vw;
    font-size: 0.8rem;
    flex-direction: row;
    grid-row: 1;
    grid-column: 3;
  }

  .nav-container-ipad a:hover {
    background: none;
    cursor: pointer;
  }

  a.middle {
    position: relative;
  }

  a.middle:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 1;
    left: 0;
    background-color: #fff;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.2s ease-in-out;
  }

  a.middle:hover:before {
    visibility: visible;
    transform: scaleX(1);
  }


  #upcoming-container {
  position: absolute;
  top: 70rem;
  left: 5vw;
  z-index: 10;
  font-size: 1.5rem;
  font-weight: 100;
  text-align: center;
  
}

.comp-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 2rem;
  align-content: center;
  
}

.comp {
  background-color: rgba(69, 52, 226, 0.068);
  width: 20rem;
  margin-top: 1rem;
  border-radius: 1rem;
  padding: 1.5rem;
}

#comp-one,
#comp-two,
#comp-three {
  visibility: none;
}


.small ul {
  position: absolute;
  left: 20vw;
  width: 50vw;
}

.small ul li {
  list-style-type: none;
}


#about {
  border-top-style: solid;
  border-right-style: none;
  border-left-style: none;
  border-color: rgba(220, 226, 243, 0.397);
  border-width: 0.05rem;
  position: absolute;
  font-size: 2rem;
  top: 120rem;
  margin: 3.5rem;
  text-align: center;
  
}

.about-text {
  border-top-style: none;
  font-size: 0.9rem;
  padding: 5rem;
  padding-top: 0rem;
  margin-bottom: 20rem;
}


#upload {
  display: flex;
  width: 8rem;
  flex-direction: column;
  float: right;
  border-style: dotted;
  border-width: 0.1rem;
  padding: 1rem;
  padding-bottom: 5rem;
}

#upload p {
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

#upload button {
  padding: 0.6rem;
  margin-top: 1rem;
  background: none;
  color: #fff;
  border-style: double;
  border-color: #fff;
}

#upload button:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.226);
}

#text {
  padding-bottom: 5rem;
}



article {
  position: relative;
  top: 90rem;
  left: 10rem;
}

}


@media (min-width: 1200px) {

  

}